/* FONTS */
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135007,135002,135000");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "The Champ Demo";
  src: url("/fonts/the-champ.regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
} */

@layer base {
  html {
    font-family: "Satoshi", sans-serif;
    @apply w-full  bg-secondary-100 text-secondary-200 min-h-screen;
  }

  body {
    @apply w-9/10 min-h-screen mx-auto relative max-w-[1600px];
  }

  .home {
    grid-template-areas:
      "img titlt"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .home-img {
    grid-area: img;
  }

  .home-subtitle {
    width: calc(100% + 1.5em);
  }

  .skill {
    @apply bg-skill rounded text-center font-semibold px-1.5 py-2.5 lg:px-8 lg:py-3.5;
  }

  .contact-links {
    @apply flex items-center gap-2 justify-center transition duration-1000 ease-in-out hover:scale-150;
  }

  .paragraph {
    @apply text-xs md:text-sm xxl:text-lg;
  }

  .index {
    z-index: 1;
  }
}
